*{
    margin: 0;
    font-family: cursive;
    padding: 0;
}

.container{
    width: 100%;

    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    /* main axis */
    justify-content:center;
    /* cross axis */
  align-items: center;
  align-content: center;
   
    
    
   
}
.item{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
   border: 3px solid whitesmoke
}
.item-1{
 min-height: 150px;
}
.item-2{
    min-height: 200px;
}
.item-3{
     min-height: 300px;
}
.item-4{
    min-height: 200px;
}
.item-5{
    min-height: 150px;
}

h1{
text-align: center;
margin: 10px;

}