*{
    margin: 0;
    color: black;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #0081C9;
}
.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 90%;
   background-color: #0081C9;
    margin: auto;
}

.logo a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;

}


.menu{
    display: flex;
}
 .menu li{
list-style: none;
margin: 0 10px;

}
.menu li a{
    color: #fff;
    text-decoration: none;
    font-family: 9px;
    font-weight: 400;
    transition: 0.3s all;
}
.menu li a:hover{
   color: #b4a6a6;
}
.line-hover::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    transition:width .3s;
    background-color: #fff;
}
.line-hover:hover:after{
width: 100%;
transition:width .3s;
}
section{
    /* height: 100vh; */
    /* width: 100%;  */
    background-color: #ECE8DD;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.slider{
   
     background-image: url('../images/med2.jpg');
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  animation: slider 15s infinite linear;
}
@keyframes slider{
    0%{
        background-image: url('../images/med2.jpg');
    }
    25%{
        background-image: url('../images/med4.jpg');
    }
    50%{
        background-image: url('../images/med5.jpg');
    }
    75%{
        background-image: url('../images/med3.jpg');
    }
}
 .wrapper img{
    height: 300px;
    width: 400px;
    margin-left: 30px;
}

.wrapper{
    margin: 120px 0;
    width: 70%;
    display: flex;
}
.text-box p{
    color: #193e61;
    margin: 5px 10px;
    font-size: 18px;
}
.text-box h2{
    color: #193e61;
    margin: 12px;
    font-size: 40px;
   
    
}

#speciality{
    display: block;
text-align: center;
padding: 70px;

}
.speciality-text-box h3{
    margin: 20px;
    font-size: 25px;
    color: #193e61;
}
.speciality-text-box p{
    margin: 5px 50px;
    font-size: large;
    color: #193e61;

}
.table{
    display: inline-block;
    padding: 100px;
    text-align:left;;
}
/* .table table tr{
    padding: 10px;
} */
td{
    padding: 20px;
}
table{
    text-align: left;
}
td p{
   margin-top: 10px;
   color: #193e61;
   font-size: 18px;
}
td h4{
    color: #193e61;
    font-size: large;

}

.testimonals-images{
    height: 100px;
    width: 100px;
}
#testimonals{
    display: block;
    text-align: center;
    background-color:#e5e2d796 ;
}
#testimonals h3{
font-size: 25px;
    padding: 50px;
    color: #193e61;
}
.testimonals-box{
    display: flex;
    padding: 100px; 
    font-size: 17px;

}
.testimonals-box p{
    color: #193e61;
    padding: 30px;
    letter-spacing: .5px;
   
}
.footer-div{
    display: flex;
    justify-content: space-between;
    align-content: center;
   
    
    
}
#footer{
    background-color: #0081C9; 
}

.f1 p{
    color: #fff;
    font-size:  18px;
}
.f1 h2{
    color: #fff;
    font-size:  18px;
    padding-bottom: 10px;
}
.f4 p{
    color: #fff;

}
.footer-div h3{
    color: #fff;
    padding-bottom: 10px;
    padding-left: 40px;
}
.f1{
   width: 25%;
   padding: 40px;
}
.f2{
    width: 15%;
    padding: 40px;
}
.f3{
    width: 15%;
   padding: 40px; 
}

.f4{
 
    padding: 40px; 
    text-align: left;
}

.bullet li a{
    text-decoration: none;
    color: #fff;
}
.bullet li{
    list-style: none;
   
}
.bullet ul{
    width: 100%; 
}
