body{
    text-align: left;
    font-size: larger;
    color: #F6F4EB;
    background-color: #4682A9;
}
.details{
   padding: 30px;
}
div{
    padding: 10px;
}
form{
    padding: 20px;
    width: 100%;
}
input
{
    padding: 5px;
   
}
label{
    padding: 0 5px;
    text-align: right;
     
}
fieldset{
    border: none;
    border-top: 1px solid ;
}

button {
    width: 100%;
    padding: 10px 0;
    border: none;
    background: #91C8E4; 
    font-size: 14px;
    color: #fff;
    }